{
    "singleQuote": true,
    "trailingComma": "es5",
    "quoteProps": "as-needed",
    "arrowParens": "always",
    "bracketSpacing": true,
    "useTabs": false,
    "semi": false,
    "singleAttributePerLine": true,
    "proseWrap": "always",
    "experimentalTernaries": true
}
