{
    "singleQuote": true,
    "trailingComma": "es5",
    "quoteProps": "as-needed",
    "arrowParens": "always",
    "bracketSpacing": true,
    "useTabs": false,
    "tabWidth": 6,
    "semi": false,
    "singleAttributePerLine": true,
    "proseWrap": "always",
    "experimentalTernaries": true,
    "useEditorConfig": true
}
